<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mi Procedencia

    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  Juan Francisco Vasquez<br>
  Nacio: 13 abril 1994 <br>
  Edad: 27 Años
  Bachiller en CC.LL y Tecnico en Computacion<br>
  Pasante Ingenieria En Informatica en Universidad Metropolitana De Honduras
  Nacido en San Marcos ocotepeque<br>
  Vivo en la aldea Santa Lucia <br>
  del Municipio de La Labor Ocotepeque<br>
  
   
</ion-content>
