<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>METAS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
Mi metas personales mejor mi habla<br>
tener un negocio propio<br>
mi meta profecional ser un ingeniero en informatica<br>
a un nivel muy bueno<br>
en 5 años me veo como un Ing. con un negocio rentable<br>
trabajando en mi area que me gusta ya sea dentro de una<br>
institucion publica o privada.
</ion-content>
