<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Descripción</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 Hola A Todos Soy Juan Vasquez<br>
 Soy una persona tranquila, respetativa, amigable<br>
 Trabajo Actualmente en La Municipalidad La labor<br>
 en la unidad de tributacion<br>
 anteriormente trabaje en un canal de tv local<br>
 en la Ciudad de Nueva Ocotepeque<br>
 tengo basicamente 10 años de haberme graduado<br>
 como Bach.CC.LL y tecnico en computacion<br>
 y hace 2 años que inicie con el el objetivo<br>
 de ser Un Ingeniero en Informatica
</ion-content>
